<div class="project-configuration">

  <!-- PACKAGES -->

  <div class="panel panel-default">

    <div class="panel-heading" ng-click="configuration.editPackages = !configuration.editPackages"><span translate="project.configuration.packages.label"></span></div>

    <div class="panel-body" ng-show="configuration.editPackages">

      <form class="form-horizontal">

        <div class="form-group">
          <div class="col-lg-12">
            <span translate="project.configuration.packages.description"></span>
          </div>
        </div>

        <br/>

        <div class="form-group" ng-repeat="package in configuration.packages">
          <div class="col-lg-2">
            <label for="{{package.id}}" translate="{{package.name}}"></label>
          </div>
          <div class="col-lg-10">
            <p>{{package.shortcut}}</p>
          </div>
          <div class="col-lg-12">
            <input id="{{package.id}}" type="text" class="form-control" placeholder="{{package.example}}">
          </div>
        </div>

        <br/>

        <div class="form-group">
          <div class="col-lg-12">
            <span translate="project.configuration.packages.need_more"></span>
          </div>
        </div>

      </form>

    </div>

  </div>

  <!-- FOLDERS -->

  <div class="panel panel-default">

    <div class="panel-heading" ng-click="configuration.editFolders = !configuration.editFolders"><span translate="project.configuration.folders.label"></span></div>

    <div class="panel-body" ng-show="configuration.editFolders">

      <form class="form-horizontal">

        <div class="form-group">
          <div class="col-lg-12">
            <span translate="project.configuration.folders.description"></span>
          </div>
        </div>

        <br/>

        <div class="form-group" ng-repeat="folder in configuration.folders">
          <div class="col-lg-2">
            <label for="{{folder.id}}" translate="{{folder.name}}"></label>
          </div>
          <div class="col-lg-10">
            <p>{{folder.shortcut}}</p>
          </div>
          <div class="col-lg-12">
            <input id="{{folder.id}}" type="text" class="form-control" placeholder="{{folder.example}}" ng-model="folder.value">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-12">
            <a class="btn btn-primary" ng-click="configuration.setMavenFolders()"><span translate="project.configuration.folders.maven_folders"></span></a>
            <a class="btn btn-primary" ng-click="configuration.setProjectFolders()"><span translate="project.configuration.folders.project_folders"></span></a>
          </div>
        </div>

        <br/><br/>

        <div class="form-group">
          <div class="col-lg-12">
            <span translate="project.configuration.folders.need_more"></span>
          </div>
        </div>

      </form>

    </div>

  </div>

  <!-- VARIABLES -->

  <div class="panel panel-default">

    <div class="panel-heading" ng-click="configuration.editVariables = !configuration.editVariables"><span translate="project.configuration.variables.label"></span></div>

    <div class="panel-body" ng-show="configuration.editVariables">

      <form class="form-horizontal form-variables">

        <div class="form-group">
          <div class="col-lg-12">
            <span translate="project.configuration.variables.description"></span>
          </div>
        </div>

        <br/>

        <div class="form-group">
          <div class="col-lg-12">
            <table class="table table-bordered table-hover">
              <tr>
                <th><span translate="project.configuration.variables.name"></span></th>
                <th><span translate="project.configuration.variables.value"></span></th>
                <th><span translate="project.configuration.variables.action"></span></th>
              </tr>
              <tr ng-repeat="variable in configuration.variables">
                <td><input type="text" class="form-control" ng-model="variable.name" placeholder="VARIABLE_NAME"></td>
                <td><input type="text" class="form-control" ng-model="variable.value" placeholder="VARIABLE_VALUE"></td>
                <td>
                  <a class="btn btn-primary" ng-click="configuration.createVariable($index+1)"><span translate="project.configuration.variables.insert"></span></a>
                  <a class="btn btn-danger" ng-click="configuration.deleteVariable($index)"><span translate="project.configuration.variables.delete"></span></a>
                </td>
              </tr>
            </table>
            <a class="btn btn-primary" ng-click="configuration.createVariable()"><span translate="project.configuration.variables.new"></span></a>
            <a class="btn btn-primary" ng-click=""><span translate="project.configuration.variables.show_reserved"></span></a>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>
