<div class="modal-content">
  <div class="modal-header">Add a file</div>
  <form class="form-horizontal"
        name="addFileForm"
        novalidate>
    <div class="modal-body">
      <div class="form-group">
        <label class="col-xs-3 control-label form-label">Path</label>
        <div class="col-xs-8 form-container-input">
          {{addFile.file.path}}
        </div>
      </div>
      <div class="form-group">
        <label for="addFileName"
               class="col-xs-3 control-label form-label">Name</label>
        <div class="col-xs-8 form-container-input">
          <input type="text"
                 class="form-control"
                 id="addFileName"
                 name="addFileName"
                 ng-model="addFile.file.name"
                 newinput>
        </div>
      </div>
    </div>
    <div class="modal-footer">
          <button class="pull-right btn btn-primary withripple btn-form"
                  ng-class="{ 'btn-danger': addFile.isFailed }"
                  ng-click="addFile.createFile(addFileForm, addFile.file)">
            <span ng-if="!addFile.isCreating()" class="animate-if-fast">Add</span>
            <span ng-if="addFile.isSaving" class="animate-if-fast"><i class="fa fa-circle-o-notch fa-spin"></i></span>
            <span ng-if="addFile.isFailed" class="animate-if-fast"><i class="fa fa-close"></i></span>
          </button>
          <button class="pull-right btn btn-default withripple btn-form"
                  style="margin-right: 5px;"
                  ng-click="addFile.cancel()"
                  ng-disabled="addFile.isSaving">
            Cancel
          </button>
        </div>
  </form>
</div>

