<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <img src="assets/images/telosyslogo.png" alt="TelosysTools" style="width:50px;filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);">
      &nbsp; &nbsp; &nbsp;
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a href="/" class="navbar-brand">Telosys Tools</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.state)}">
            <a ng-href="{{item.state}}">{{item.state | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
