<div class="project-content row">
  <div class="project-files col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ng-click="content.addFile('model')" class="btn btn-default" style="float: right; margin:-7px 0; padding: 5px"><span class="glyphicon glyphicon-plus" style="font-weight: normal"></span> New file</a>
        <button class="btn btn-default" style="float: right; margin:-7px 0; padding: 5px"><span class="glyphicon glyphicon-plus" style="font-weight: normal"></span> New folder</button>
        <h6 class="panel-title">Model</h6>
      </div>
      <div class="panel-body">
        <!-- -->
        <!-- treecontrol : -->
        <!-- Documentation : http://wix.github.io/angular-tree-control/ -->
        <!-- -->
        <treecontrol class="tree-light"
                     options="content.treeOptions"
                     tree-model="content.model.treedata"
                     expanded-nodes="content.model.expandedNodes"
                     on-selection="showSelected(node)"
                     selected-node="content.model.selectedNode">
          <span class="glyphicon glyphicon-folder-close" ng-if="node.type == 'folder'"></span>
          {{node.name}}
        </treecontrol>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <button class="btn btn-default" style="float: right; margin:-7px 0; padding: 5px"><span class="glyphicon glyphicon-plus" style="font-weight: normal"></span> New file</button>
        <button class="btn btn-default" style="float: right; margin:-7px 0; padding: 5px"><span class="glyphicon glyphicon-plus" style="font-weight: normal"></span> New folder</button>
        <h6 class="panel-title">Bundles</h6>
      </div>
      <div class="panel-body">
        <!-- -->
        <!-- treecontrol : -->
        <!-- Documentation : http://wix.github.io/angular-tree-control/ -->
        <!-- -->
        <treecontrol class="tree-light"
                     options="content.treeOptions"
                     tree-model="content.bundles.treedata"
                     expanded-nodes="content.bundles.expandedNodes"
                     on-selection="showSelected(node)"
                     selected-node="content.bundles.selectedNode">
          <span class="glyphicon glyphicon-folder-close" ng-if="node.type == 'folder'"></span>
          {{node.name}}
        </treecontrol>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h6 class="panel-title">Generated files</h6></div>
      <div class="panel-body">
        <!-- -->
        <!-- treecontrol : -->
        <!-- Documentation : http://wix.github.io/angular-tree-control/ -->
        <!-- -->
        <treecontrol class="tree-light"
                     options="content.treeOptions"
                     tree-model="content.generated.treedata"
                     expanded-nodes="content.generated.expandedNodes"
                     on-selection="showSelected(node)"
                     selected-node="content.generated.selectedNode">
          <span class="glyphicon glyphicon-folder-close" ng-if="node.type == 'folder'"></span>
          {{node.name}}
        </treecontrol>
      </div>
    </div>
  </div>
  <div class="project-editor col-lg-8">
    <div class="editor-tabs">
      <ul>
        <li>
          <a href="#" class="active">File 1.txt</a>
        </li>
      </ul>
    </div>
    <div class="editor-toolbar">
      <ul>
        <li><a href="#"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</a></li>
      </ul>
    </div>
    <div>
      <div ui-ace="content.aceOptions" ng-trim="true">File content</div>
    </div>
  </div>
</div>
