<div ng-include="'components/ui/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">

    <alert ng-repeat="alert in projects.alerts" type="{{alert.type}}" close="projects.closeAlert($index)">{{alert.msg | translate}}</alert>

    <!-- PROJECTS LIST -->

    <div class="col-lg-3">

      <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  <span data-translate="PROJECT_LIST"></span></h2>

      <hr/>

      <div ng-hide="projects.names.length">
        <div class="alert alert-info" role="alert"><span data-translate="NO_PROJECT"></span></div>
      </div>
      <div class="list-group">
        <a ng-repeat="name in projects.names" href="open(project)" class="list-group-item">{{name}}</a>
      </div>

    </div>

    <!-- PROJECT CREATION -->

    <div class="col-lg-9">

      <form>

        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span data-translate="PROJECT_CREATION"></span></h2>

        <hr/>

        <div class="row">
          <div class="col-lg-4">
            <label for="newProjectName"><span data-translate="PROJECT_NAME"></span></label>
            <input type="text" class="form-control" id="newProjectName" place-holder="Example project" ng-model="projects.newProjectName"/>
          </div>
        </div>

        <hr/>

        <button type="button" class="btn btn-success" ng-click="projects.create()"><span data-translate="CREATE_REPO"></span></button>

      </form>

    </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
