.project {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
    .nav-tabs {
      padding: 4px 0;
      background-color: #ffffff;
      border-bottom: none;
      li {
        text-align: center;
        margin-left: 5px;
      }
      li a {
        margin: none;
        border-radius: 0 0 0 0;
        border-top-width: 2px;
      }
      li a:hover {
        background-color: #ffffff;
        border-color: #cfcfcf;
      }
      li.active a {
        border: 1px solid #ddd;
        border-top-width: 2px;
      }
    }
  }
}
