<div class="form-horizontal">

  <div class="form-group">
    <div class="col-lg-12">
      <a class="btn btn-default" ng-click="configuration.getConfig()"><span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span>&nbsp; <span translate="project.configuration.reinitialisation"></span></a>
      <a class="btn btn-default" ng-click="configuration.setConfig()"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>&nbsp; <span translate="project.configuration.save"></span></a>
    </div>
  </div>

</div>
